<div class="row h-100">
  <aside class="col-3 p-4 pt-0">
    <img src="../../assets/images/logo.png" />

    <form [formGroup]="filterGroup">
      <div class="mb-4">
        <p>Sexe :</p>
        <select formControlName="gender">
          <option value="both">Les deux</option>
          <option value="male">Garçon</option>
          <option value="female">Fille</option>
        </select>
      </div>

      <div class="mb-4">
        <p>Prénom</p>
        <input type="text" placeholder="Prénom" formControlName="firstname" />
      </div>

      <div class="mb-4">
        <div class="toggle w-100 d-flex justify-content-between" (click)="toggle('countries')">
          <p>Nationalité</p>
          <b>{{ this.showCountries ? '-' : '+' }}</b>
        </div>
        <label *ngFor="let country of this.countries" [for]="country" class="ml-3" [hidden]="!this.showCountries">
          <input class="countryCb" type="checkbox" [id]="country" [value]="country" (change)="countryChange()" />
          {{ country }}
        </label>
      </div>

      <div class="mb-4">
        <div class="toggle w-100 d-flex justify-content-between" (click)="toggle('hairs')">
          <p>Cheveux</p>
          <b>{{ this.showHairs ? '-' : '+' }}</b>
        </div>
        <label *ngFor="let hair of this.hairs" [for]="hair" class="ml-3" [hidden]="!this.showHairs">
          <input class="hairCb" type="checkbox" [id]="hair" [value]="hair" (change)="hairChange()" />
          {{ hair }}
        </label>
      </div>

      <div class="mb-4">
        <div class="toggle w-100 d-flex justify-content-between" (click)="toggle('eyes')">
          <p>Yeux</p>
          <b>{{ this.showEyes ? '-' : '+' }}</b>
        </div>
        <label *ngFor="let eye of this.eyes" [for]="eye" class="ml-3" [hidden]="!this.showEyes">
          <input class="eyeCb" type="checkbox" [id]="eye" [value]="eye" (change)="eyeChange()" />
          {{ eye }}
        </label>
      </div>
    </form>
  </aside>

  <section class="col-9 p-4">
    <div *ngIf="this.orphans.length === 0" class="text-center">
      <h1>Aucun orphelin ne correspond à vos envies</h1>
      <h3>Revenez plus tard, nous en aurons peut-être :)</h3>
    </div>
    <div class="w-100 d-flex justify-content-between" *ngIf="this.orphans.length > 0">
      <form [formGroup]="sortGroup">
        <label for="sort">
          Trier par :
          <select id="sort" formControlName="sort">
            <option value="none">Pas de tri</option>
            <option value="score">Score croissant</option>
            <option value="-score">Score décroissant</option>
            <option value="age">Âge croissant</option>
            <option value="-age">Âge décroissant</option>
            <option value="height">Taille croissante</option>
            <option value="-height">Taille décroissante</option>
            <option value="weight">Poids croissant</option>
            <option value="-weight">Poids décroissant</option>
          </select>
        </label>
      </form>

      <p>{{ this.orphans.length }} résultat{{ this.orphans.length > 1 ? 's' : ''}}</p>
    </div>
    <app-orphan-card *ngFor="let orphan of this.orphans" [orphan]="orphan"></app-orphan-card>
  </section>
</div>
