<div class="col-12 orphan-card rounded shadow p-4 mb-3" [routerLink]="['/details', { id: this.orphan.id }]">
  <div class="row">
    <div class="col-12 col-md-2"><img [src]="this.orphan.picture"></div>
    <div class="col-8">
      <h1 class="m-0 mb-1">{{ this.orphan.firstname }} ({{ this.orphan.gender }})</h1>
      <p class="m-0 mb-1">{{ this.orphan.birthDate | date:'dd/MM/YYY' }} - {{ this.orphan.age }} ans</p>
      <p class="m-0 mb-1">{{ this.orphan.country}} | {{ this.orphan.height }} cm | {{ this.orphan.weight }} Kg </p>

    </div>

    <div class="col-2">
      <star-rating [value]="this.orphan.score" [totalstars]="5" checkedcolor="gold" uncheckedcolor="grey" size="24px"
        [readonly]="false" [readonly]="true"></star-rating>
    </div>
  </div>
</div>
